*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-logo{
    max-width: 100%;
    height: auto;
}

header{
    display: flex;
    height: 20vh;
    justify-content: space-between;
}

nav{
    margin: 4em;
}